@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&diplay=swap");

   body {
    margin:0;
   }
   
   *,
   :after,
   :before {
    box-sizing:border-box
   }
   section {
    font-family: Montserrat;
    font-size:14px;
    line-height:1.42857143;
    color:#ffffff;
    background-color: #ff2a2a;
    height: 1800px;
   }
   a {
    color:#000000;
    text-decoration:none;
    font-weight:500;
   }
   hr {
    margin-top:20px;
    margin-bottom:20px;
    border:0;
    border-top:1px solid #eee
   }
   .h4 {
    margin-top:10px;
    margin-bottom:10px
   }
   .text-center {
    text-align:center
   }
   .inner1 {
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
   }
   @media only screen and (min-width:768px) {
    .inner1 {
     width:750px
    }
   }
   @media (min-width:992px) {
    .inner1 {
     width:970px
    }
   }
   @media (min-width:1200px) {
    .inner1 {
     width:1170px
    }
   }
   .row {
    margin-left:-15px;
    margin-right:-15px
   }
   .col-sm-4,
   .col-xs-10 {
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px
   }
   .col-xs-10 {
    float:left
   }
   .col-xs-10 {
    width:83.33333333%
   }
   .col-xs-offset-1 {
    margin-left:8.33333333%
   }
   @media (min-width:768px) {
    .col-sm-4 {
     width:33.33333333%
    }
    .col-sm-offset-0 {
     margin-left:0
    }
   }
   @media (min-width:768px) {
    .form-inline .form-group {
     display:inline-block;
     margin-bottom:0;
     vertical-align:middle
    }
    .form-inline .form-control {
     display:inline-block;
     width:auto;
     vertical-align:middle
    }
    .form-inline .input-group>.form-control {
     width:100%
    }
    .form-inline .control-label {
     margin-bottom:0;
     vertical-align:middle
    }
    .form-inline .checkbox,
    .form-inline .radio {
     display:inline-block;
     margin-top:0;
     margin-bottom:0;
     padding-left:0;
     vertical-align:middle
    }
    .form-inline .checkbox input[type=checkbox],
    .form-inline .radio input[type=radio] {
     float:none;
     margin-left:0
    }
    .form-inline .has-feedback .form-control-feedback {
     top:0
    }
   }
   .form-horizontal .checkbox,
   .form-horizontal .checkbox-inline,
   .form-horizontal .control-label,
   .form-horizontal .radio,
   .form-horizontal .radio-inline {
    margin-top:0;
    margin-bottom:0;
    padding-top:7px
   }
   .form-horizontal .checkbox,
   .form-horizontal .radio {
    min-height:27px
   }
   .form-horizontal .form-group {
    margin-left:-15px;
    margin-right:-15px
   }
   .form-horizontal .form-control-static {
    padding-top:7px
   }
   @media (min-width:768px) {
    .form-horizontal .control-label {
     text-align:right
    }
   }
   .form-horizontal .has-feedback .form-control-feedback {
    top:0;
    right:15px
   }
   .btn {
    display:inline-block;
    margin-bottom:0;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    background-image:none;
    border:1px solid transparent;
    white-space:nowrap;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    border-radius:4px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
   }
   .btn-sm {
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
   }

   .btn {
    margin-top: 5px;
    margin-bottom: 5px
}

.btn-hollow {
    border-color: #ffffff;
    border-radius: 0;
    margin-top: 5px;
    padding: 10px 17px;
    text-transform: uppercase;
    color: #ffffff!important;
    font-weight: 600;
    font-family: Montserrat;
}

.btn-hollow:hover {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #ff0000!important;
    font-weight: 600;
}
   @media (min-width:768px) {
    .navbar-right .dropdown-menu {
     left:auto;
     right:0
    }
    .navbar-right .dropdown-menu-left {
     left:0;
     right:auto
    }
   }
   .btn .caret {
    margin-left:0
   }

@media (min-width:768px) {
    .inner1 {
        width: auto!important
    }
}

@media (min-width:992px) {
    .inner1 {
        width: 970px!important
    }
    section.bodyColor .header {
        max-width: 970px
    }
    section {
        right: auto;
        left: auto
    }
}

@media (min-width:1200px) {
    .inner1 {
        width: 1170px!important
    }
    section.bodyColor .header {
        max-width: 1170px
    }
}

.icon {
    padding-top: 20px;
    border: 10px solid #fff;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%
}

@media (max-width:767px) {
    .icon {
        padding-top: 35px;
        width: 110px;
        height: 110px
    }
}

.icon i {
    font-size: 36px!important
}

@media only screen and (max-width:767px) {
    .icon i {
        font-size: 30px!important
    }
}
.btn {
    margin-top: 5px;
    margin-bottom: 5px
}

.btn-hollow {
    border-color: #ffffff;
    border-radius: 0;
    margin-top: 5px;
    padding: 10px 17px;
    text-transform: uppercase;
    color: #ffffff!important;
    font-weight: 600;
    font-family: Montserrat;
}

.btn-hollow:hover {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #ff0000!important;
    font-weight: 600;
}

