@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&diplay=swap");

body {
    margin: 0;
    font-family: "Montserrat";
    background: #ffffff;
    font-size: 16px;
    height: 100vh;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.logo-text {
    width: 175px;
    height: 35px;
    margin-top: -12px;
    margin-left: -5px;
}

.topnav a:not(:first-child) {
    display: none;
}

.topnav a.icon {
    float: right;
    display: block;
    color: #ff2a2a;
}

.topnav .responsive {
    position: relative;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

#login {
    background-color: #00acca;
    color: #ffffff;
}

#login:hover {
    background-color: #ff2a2a;
}

.illustration {
    margin-top: 2em;
}

.button:hover {
    background: #00acca;
    color: #ffffff;
}

.nav2 {
    margin-top: 3em;
}

.illustsvg {
    width: 100%;
}

h1 {
    margin: 1em 0;
}

p {
    line-height: 1.7em !important;
    font-size: 18px;
    text-align: center;
}

span {
    color: #ff2a2a;
    display: block;
}

.left {
    background: #ffffff;
    padding: 1em;
}

.left h1, p {
    color: #000000;
}

.login1 {
    display: none;
}

.button {
    background: #ff2a2a;
    border: none;
    color: #ffffff;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: -8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.button:hover {
    background: #00acca;
    color: #ffffff;
}

@media only screen and (min-width: 768px) {

    body {
        font-size: 20px;
    }

    p {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {

    .topnav {
        overflow: hidden;
        background-color: transparent;
        white-space: nowrap;
    }

    .topnav a {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
    }
      
    .topnav a:hover {
        background-color: #ff2a2a;
        color: #ffffff;
    }
      
    .topnav a.active {
        background-color: transparent;
        color: white;
    } 
}

@media only screen and (min-width: 1024px) {

    .topnav {
        overflow: hidden;
        background-color: transparent;
        white-space: nowrap;
    }

    .topnav a:not(:first-child) {display: block;}

    .topnav a.icon {
        float: right;
        display: none;
    }
      
    .topnav a {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
    }
      
    .topnav a:hover {
        background-color: #ff2a2a;
        color: #ffffff;
    }
      
    .topnav a.active {
        background-color: transparent;
        color: white;
    }

    .login1 {
        display: block;
        position: absolute;
        right: 10px;
    }

    .login {
        background: #ff2a2a;
        border: none;
        color: #ffffff;
        padding: 10px 10px;
        margin-top: 5px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-family: "Montserrat";
        font-size: 16px;
    }
    
    .login:hover {
        background: #00acca;
        color: #ffffff;
    }

    #login {
        display: none;
    }

    p {
        line-height: 1.7em !important;
        text-align: left;
    }

    .inner {
        margin-top: 3em;
        display: grid;
        grid-template-columns: 60% auto;
    }

    .left {
        text-align: left;
        padding: 3em 2em;
        display: grid;
        
        line-height: 1.7em !important;
    }

    .illustration {
        margin-top: -10px;
        margin-left: -8em;
    }

    .illustsvg {
        width: 700px;
    }

    .content {
        padding: 0 2.5em;
    }

    h1 {
        font-size: 2em;
        white-space: nowrap;
        line-height: 1.2em;
    }

    .nav2 {
        margin-top: 2em;
    }
}